body {
    margin: 0;
    padding: 0;
}

#back {
    width: 100%;
    height: 200%;
    overflow: auto;
}


#main, #copyright {
    overflow-x: hidden;
    overflow-y: hidden;
}

#main {
    margin-top: 60px;
    overflow-y: auto;
    margin-left: auto;
    width: 900px;
    height: 100%;
    margin-right: auto;
    background-color: red;
}

#copyright {
    text-align: center;
    background-color: yellow;
    width: 100%;
    bottom: 0%;
    font-size: 0.75rem;
    height: 70px;
}
