body {
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.menu, .main, .copyright {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.menu {
    height: 15%;
    background-color: blue;
}

.main {
    height: 85%;
    overflow-y: scroll;
}

.copyright {
    text-align: center;
    background-color: red;
}
